<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Task List</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }
        table, th, td {
            border: 1px solid black;
        }
        th, td {
            padding: 10px;
            text-align: left;
        }
        h1{
            text-align: center;
        }
        a{
            float:right;
            margin-bottom:10px;
        }
    </style>
</head>
<body>
    <h1>Authors</h1>
    <a href="{% url "Borrowrecords_to_excel" %}"><button>Download in Excell</button></a>
  <table>
    <thead>
      <tr>
        <th>User Name</th>
        <th>Book</th>
        <th>Borrew Date</th>
        <th>Return Date</th>
      </tr>
    </thead>
    <tbody>
      {% for borrow in object_list %}
        <tr>
          <td>{{ borrow.user_name }}</td>
          <td>{{ borrow.book }}</td>
          <td>{{ borrow.borrow_date }}</td>
          <td>{{ borrow.return_date }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  <div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
  </div>
</body>
</html>

